{{ partial "header.html" . }}

{{ .Scratch.Set "sidemenu" true }}

<div class="container">
	<div class="row">
		<div class="{{ if .Scratch.Get "sidemenu" }}col-lg-10 col-md-9 col-sm-8{{ else }}col-sm-12{{ end }}">
			{{ partial "breadcrumb.html" . }}
		</div>

	</div>
</div>

<div class="container" style="height: 75vh; min-height: 20em">
    <iframe src="https://repository.kicad.org/" style="border: 0px; width: 100%; height: 100%"></iframe>
</div>

{{ partial "footer.html" . }}
